<p>
  <b>
    Esta es tu página de tareas. Aquí podrás crear nuevas tareas.
  </b>
  <br><br>
  Puedes cambiar el estado de las tareas haciendo clic en el botón "Completado" o "En proceso".
  <br><br>
</p>

@if (showError) {
<p class="alert alert-error">
  Ha ocurrido un error intentando realizar la operacion. Nuestro equipo de soporte trabaja arduamente resolviendo el problema ;D. Por favor intente nuevamente en unos minutos.
</p>
}

<form [formGroup]="form">
  <!-- Title Input -->
   <p>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input
        matInput
        type="title"
        id="title"
        name="title"
        class="form-control"
        formControlName="title"
        placeholder="Título de la tarea"
        required
      />
      @if (showErrorMessage('email', 'required')) {
        <mat-hint class="mat-error">Por favor completa este campo.</mat-hint>
      }
    </mat-form-field>
  </p>

  <!-- Description Input -->
   <p>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        type="description"
        id="de"
        name="description"
        class="form-control"
        formControlName="description"
        placeholder="Description de la tarea"
        required
      ></textarea>
      @if (showErrorMessage('email', 'required')) {
        <mat-hint class="mat-error">Por favor completa este campo.</mat-hint>
      }
    </mat-form-field>
  </p>

  <!-- Status Input -->
   <p>
      <mat-checkbox
        matInput
        id="isCompleted"
        name="isCompleted"
        class="form-control"
        formControlName="isCompleted"
        [checked]="isCompleted"
        (change)="updateStatus($event)"
        aria-label="Estado de la tarea">
        {{ isCompleted ? 'Completado' : 'En proceso' }}
      </mat-checkbox>
  </p>

  <!-- Create Button -->
  <p>
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="start-btn"
      (click)="createTask()"
      [disabled]="!form.valid"
    >
      Guardar
    </button>
  </p>

</form>

<!-- Create New Account Option -->
<div class="create-account">
  <button
    mat-raised-button
    color="secondary"
    type="button"
    class="start-btn"
    routerLink="/tasks"
  >
    Volver al listado de tareas
  </button>
</div>
